h1, h3{
    text-align: center;
    background-color: aqua;
    color: brown;
    padding: 10px;
    border-radius: 10px;
    
}

p{
    padding-left: 20px; 
}

.b{
    border: 2px solid red;
    border-radius: 10px;
    background-color: lightgreen;
}
.b p{
    border: 2px solid blue;
    margin: 30px;
    border-radius: 5px;
    background-color: greenyellow;
    
}
